<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <% @documents.each do |document| %>
        <%= link_to document.name, document_path(document) %>
      <% end %>

      <h3>Add a file</h3>
      <%= link_to "Add new", new_document_path %>

    </div>
  </div>
</div>