<%= simple_form_for(@document, html: { multipart: true }) do |f| %>
  <!-- ... -->
  <p>
    <%= f.input :name, label: 'Name of pet' %>
    <%= f.input :file, label: 'Attach file' %>
  </p>
  <p><%= f.submit %></p>
<% end %>