<div class="bg-black mini-height">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="card">
          <div class="margin-space text-center">
            <%= render 'shared/new' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
